//font
$default-font-size: 16px;

//colors
$color-white: #fff;
$color-black: #000;
$color-gray: rgb(89, 95, 93);
$color-light-black: #1a1a1a;

//center, gutter
.u-center-text{ text-align: center; }
.u-margin-bottom-100{ margin-bottom: 100px; }
.u-margin-bottom-50{ margin-bottom: 50px; }
.u-margin-bottom-20{ margin-bottom: 20px; }
.u-margin-bottom-10{ margin-bottom: 10px; }
.u-margin-top-10{ margin-top: 10px; }  


//MIXINS
@mixin centerMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Muli", "Quicksand", "Raleway", sans-serif;
    font-size: $default-font-size;
    background-color: $color-black;
    color: $color-white;

    @media screen and (max-width: 600px) {
        & {
            h1 {
                font-size: 25px;
            }
        }
    }

}

.about {
    &__description {
        text-align: center;
        margin: 70px;
    }

    @media screen and (max-width: 600px){
        &__description {
            margin: 20px;
        }
    }

}

.youShoot {
    
         h2 {
             font-size: 28px;
         }
    
    }
   

.desc_box {
    position: relative;
    top: 25%;
    transition: all .3s;

    @media screen and (max-width: 600px){
        & {
            top: 5%;
        }
    }

}
.card {
    ul{
        list-style: none;

        li{
            text-decoration: none;
            text-align: center;
            padding-bottom: 3px;
            color: $color-black;

        }

    }
}

.footer a:link, .footer a:visited {
    text-align: center;
    font-size: 30px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.3);

    &:not(:last-child) {
        margin-right: 20px;
    }

}

.footer a:hover, .footer a:active {
    color: rgba(255, 255, 255, 0.5);
    border: none;

}


.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
}

#tourbtn:hover, #tourbtn:active {
    transition: all .4s;
    background: linear-gradient(to right, $color-light-black, $color-black);
}

